<div class="container my-5">
  <div class="tacoTitle text-end py-5 mx-5">
      <h2>Where taco hunger meets taco creativity</h2>
  </div>
  <div class="row justify-content-end">
    <div class="col-md-5  my-3">
      <p>We love tacos. All kinds of tacos. And we love being creative with the way we make our tacos.</p>

      <p>Some taco joints offer a set, finite menu of tacos to choose from. At Taco Cloud, we want to share
        the joy of taco creativity with you, allowing you to design your own tacos from a palette of fresh
        and delicious ingredients. While we may offer some of our creations for you to try, the real fun
        is when you create your own tortilla-wrapped works of art.</p>

      <p>And, even though we love tacos and creativity, we prefer to avoid doing complex math. That's why
        all tacos are priced modestly at $4.99 each, no matter how many or what ingredients you choose.</p>

      <p>Click <a href="design">here</a> to get started on your taco masterpiece!</p>
    </div>
    <div class="col-md-5 my-4">
      <img src="assets/TacoPhoto.jpg" class="rounded float-end img-fluid mx-5"/>
    </div>
  </div>
</div>
