 <!-- navbar -->
 <head>
  <style>
  div.header {
    background-color: #76D6FF;
    background: linear-gradient(#76D6FF, white);
    width: 100%;
    height: 140px;
    border-radius: 10px;
    position: relative;
    color: #003366;
  }

</style>

 </head>
 <nav class="navbar navbar-expand-md navbar-light">
  <div class="container header">
      <a class="navbar-brand" href="#">
          <img src="/assets/TacoCloud.png" class="img-fluid float-start" alt="taco image" style="width:200px; height:auto">
      </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false"
          aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="row">
      <div class="collapse navbar-collapse justify-content-end align-items-center"
         id="main-nav">
      <ul class="navbar-nav pt-1 h-30">
        <li class="nav-item fw-bolder border-end px-3">
          <a class="nav-link" href="#">DESIGN A TACO</a>
        </li>
        <li class="nav-item border-end">
          <a class="nav-link" href="#">
            <span class="fw-bold">SIGN IN</span>
            <br>
            <span class="fw-medium">or Create an Account</span>
            <span class="float-end px-3 py-0">
              <i class="bi bi-caret-down-fill"></i>
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <h4>
              <i class="bi bi-cart4"></i>
              $0.00
            </h4>
          </a>
        </li>
      </ul>
    </div>
    <div class="justify-content-end align-items-end border-top border-2 mt-0">
      <a href="#" class="btn mx-4 fw-bold" role="button">
        Latest Designs
      </a>
      <a href="#" class="btn mx-4 fw-bold" role="button">
        Specials
      </a>
      <a href="#" class="btn mx-4 fw-bold" role="button">
        Locations
      </a>
    </div>
    <div>

    </div>
  </div>
</div>

</nav>
